
// -- Content ------------------------------------------------------------------

.overall-content{
    background-color: $mid;
    color: $white;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}
.content{
    padding: 20px;
}
